<div class="pagination">
    <ul class="pagination-list english-text d-flex jc-c">
        <li class="pagination-item"><a href="#" class="pagination-link pagination-previous">上一頁</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">1</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link pagination-link-active">2</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">3</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">4</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">5</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link pagination-next">下一頁</a></li>
    </ul>
</div>   