<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>series-sunglasses</title>
</head>
<body>
<%- include('./layout/header'); -%>
<main>
    <!-- series-header -->
    <header class="series-header">
        <nav class="series-nav">
            <ul class="series-list english-text ta-c row">
                <li class="series-item w-33"><a href="series.html" class="series-link series-e">OPTICAL</a></li>
                <li class="series-item w-33 series-link-active"><a href="#" class="series-link series-e">SUNGLASSES</a></li>
                <li class="series-item w-33"><a href="#" class="series-link series-e">FUNCTIONAL</a></li>
            </ul>
        </nav>
        <div class="banner-wrapper row">
            <picture class="w-50">
                <source media="(min-width: 768px)" srcset="../assets/images/product-header-3.png">
                <img src="../assets/images/product-header-sm-3.png" alt="banner-sunglasses" class="product-header-img">
            </picture>
            <picture class="w-50">
                <source media="(min-width: 768px)" srcset="../assets/images/product-header-4.png">
                <img src="../assets/images/product-header-sm-4.png" alt="banner-sunglasses" class="product-header-img">
            </picture>
        </div>
    </header>
    <!-- sunglasses-series-section -->
    <section class="series-sunglasses-section product-section py-section">
        <div class="container">
            <h2 class="series-e-headline english-text series-e">Celluloid Combi</h2>
            <h2 class="series-headline">賽璐珞鈦金屬混合鏡框</h2>  
            <ul class="sunglasses-list product-list row">
                <li class="sunglasses-card product-card col-3 english-text"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-7.png" alt="sunglasses-product-1" class="product-img">                <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-8.png" alt="sunglasses-product-2" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-9.png" alt="sunglasses-product-3" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-10.png" alt="sunglasses-product-4" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-11.png" alt="sunglasses-product-5" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-12.png" alt="sunglasses-product-6" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-7.png" alt="sunglasses-product-7" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-8.png" alt="sunglasses-product-8" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-9.png" alt="sunglasses-product-9" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-10.png" alt="sunglasses-product-10" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-11.png" alt="sunglasses-product-11" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
                <li class="sunglasses-card product-card col-3"><a href="#" class="product-link sunglasses-product"><img src="../assets/images/product-12.png" alt="sunglasses-product-12" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                    <h4 class="product-id w-50">BJ41600S</h4>
                    <p class="product-price color-primary text-medium">NTD3,490</p>
                <ul class="product-color-list d-flex jc-fs">
                    <li class="color-card bg-5F3E2D"></li>
                    <li class="color-card bg-B75929"></li>
                </ul>
                </div></a></li>
            </ul>
        </div>
    </section>
    <!-- pagination -->
    <%- include('./layout/pagination'); -%>

    
</main>    
<!-- footer -->
<%- include('./layout/footer'); -%>
<script type="module" src="../main.js"></script>
</body>
</html>
