<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>series-optical</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <main>
      <!-- series-header -->
      <header class="series-header">
        <nav class="series-nav">
          <ul class="series-list english-text ta-c row">
              <li class="series-item w-33 series-link-active"><a href="series.html" class="series-link series-e">OPTICAL</a></li>
              <li class="series-item w-33"><a href="series_sun.html" class="series-link series-e">SUNGLASSES</a></li>
              <li class="series-item w-33"><a href="#" class="series-link series-e">FUNCTIONAL</a></li>
          </ul>
        </nav>
        <div class="banner-wrapper row">
          <picture class="w-50">
            <source media="(min-width: 768px)" srcset="../assets/images/product-header-1.png">
            <img src="../assets/images/product-header-sm-1.png" alt="banner-optical" class="product-header-img">
        </picture>
        <picture class="w-50">
          <source media="(min-width: 768px)" srcset="../assets/images/product-header-2.png">
          <img src="../assets/images/product-header-sm-2.png" alt="banner-optical" class="product-header-img">
        </picture>
        <!-- 原本使用img要替換屬性的難度高，使用picture 或 bg 較容易 -->
        </div>
      </header>
      <!-- optical-product-section -->
      <!-- section.series-optical-section.py-section>ul.optical-list.row>li.optical-card.product-card.col-3*24>a.optical-product[href="#"]>img[src="../assets/images/product-$@.jpg" alt="optical-product-$@" class="optical-img"]-->
      <section class="series-optical-section product-section py-section">
          <div class="container">
              <h2 class="series-e-headline english-text series-e">Celluloid Combi</h2>
              <h2 class="series-headline">賽璐珞鈦金屬混合鏡框</h2>  
              <ul class="optical-list product-list row  english-text">
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-1.png" alt="optical-product-1" class="product-img">                <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-2.png" alt="optical-product-2" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-3.png" alt="optical-product-3" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-4.png" alt="optical-product-4" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-5.png" alt="optical-product-5" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-6.png" alt="optical-product-6" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-1.png" alt="optical-product-7" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-2.png" alt="optical-product-8" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-3.png" alt="optical-product-9" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-4.png" alt="optical-product-10" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-5.png" alt="optical-product-11" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
                  <li class="optical-card product-card col-3"><a href="#" class="product-link optical-product"><img src="../assets/images/product-6.png" alt="optical-product-12" class="product-img">                    <div class="product-detail d-flex fw-w jc-sb">
                      <h4 class="product-id w-50">BJ41600S</h4>
                      <p class="product-price color-primary text-medium">NTD3,490</p>
                    <ul class="product-color-list d-flex jc-fs">
                      <li class="color-card bg-5F3E2D"></li>
                      <li class="color-card bg-B75929"></li>
                    </ul>
                  </div></a></li>
              </ul>
          </div>
      </section>
      <!-- pagination -->
      <%- include('./layout/pagination'); -%>
    </main>  
    <!-- footer   -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
